[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Qt ????
[access "refs/*"]
	owner = group user/sz189981 (sz189981)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sz189981 (sz189981)
	label-Verified = -1..+1 group user/sz189981 (sz189981)
	push = group user/sz189981 (sz189981)
	read = group user/sz189981 (sz189981)
	rebase = group user/sz189981 (sz189981)
	removeReviewer = group user/sz189981 (sz189981)
	submit = group user/sz189981 (sz189981)
[access "refs/heads/*"]
	create = group user/sz189981 (sz189981)
	push = +force group user/sz189981 (sz189981)
	pushMerge = group user/sz189981 (sz189981)
	read = group user/sz189981 (sz189981)
[access "refs/tags/*"]
	push = group user/sz189981 (sz189981)
	push = +force group user/sz189981 (sz189981)
